.button{
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-color: transparent;
}

.button:hover{
    -fx-background-color: #8eb2d9;
}


/* Estilos para los TextField y los TextArea*/

.text-field{
    -fx-background-color: #fff;
    -fx-background-radius: 0px;
    -fx-border-color:  #b2b2b2;

}

.text-area{
    -fx-background-color: #fff;
    -fx-background-radius: 0px;
    -fx-border-color:  #b2b2b2;
}

.choice-box{
    -fx-background-color: #fff;
    -fx-text-fill: #565651;
    -fx-border-color: #b2b2b2; // Borde de la choice box
}

.choice-box .list-cell{
    -fx-background-color: #fff;
    -fx-text-fill: #565651;
    -fx-padding: 0;

}

.choice-box .list-cell:hover{
    -fx-background-color: #000;
}



.buttonUsuarios{
    -fx-background-color: #00254e;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.buttonUsuarios:hover{
    -fx-background-color: #00254e;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-cursor: hand;
}


.splitmenu{
    -fx-background-radius: 0px;
    -fx-background-color: #b1b1b1;
}