.button{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
}

.button:hover{
    -fx-background-color: #00254e;
}

.button1{
    -fx-background-color: transparent;
}
.button1:hover{
    -fx-background-color: #000;
}
.button2{
    -fx-background-color: transparent;
}
.button2:hover{
    -fx-background-color: #92250E;
}